name: verify.yml

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  conform:
    name: Conform
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: siderolabs/conform@v0.1.0-alpha.27
        with:
          token: ${{ secrets.CONFORM }}

  install:
    name: Install dependencies
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        node-version: [ "24" ]
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      - run: npm ci

  test:
    name: Tests
    runs-on: ubuntu-latest
    needs: install
    strategy:
      max-parallel: 4
      matrix:
        node-version: [ "24" ]
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - run: npm test


  lint:
    name: ESLint
    runs-on: ubuntu-latest
    needs: install
    strategy:
      max-parallel: 4
      matrix:
        node-version: [ "24" ]
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - run: npm run lint


  audit:
    name: Security audit
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 12
      matrix:
        node-version: [ "24" ]
    steps:
      - uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - run: npm audit --audit-level=high


  build:
    name: Build
    runs-on: ubuntu-latest
    needs:
      - test
      - lint
      - audit
    strategy:
      max-parallel: 4
      matrix:
        node-version: [ "24" ]
    steps:
      - uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - run: npm run build